---
---

img, object {
     max-width: 100%;
}

blockquote{
  color:#666666;
  margin:0;
  padding-left: 3em;
  border-left: 0.5em #EEE solid;
}

pre, code, kbd, samp { 
  color: #000; 
  font-family: monospace; 
  font-size: 12px; 
  border-radius:3px;
  background-color: #F8F8F8;
  border: 1px solid #CCC; 
}
pre { 
  white-space: pre; 
  white-space: pre-wrap; 
  word-wrap: break-word; 
  padding: 5px 12px;
}

pre code { border: 0px !important; padding: 0;}
code { padding: 0 3px 0 3px; }

body {
  color:#444;
  /*font-family:Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', "Hiragino Sans GB", "STXihei", "微软雅黑", serif; */
  /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
  /*font-family: "Arial Narrow", Arial, sans-serif;*/
  /*font-family: 'Josefin Slab', serif;*/
  /*font-family: 'Arvo', serif;*/
  /*THIS ONE::*/
  font-family: 'Andada', serif;
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;*/
  /*font-family: 'AvenirNextLTW01-Regular', Helvetica, sans-serif*/
  font-size:13px;
  line-height:1.5em;
  background:#fdfdfd;
  /*background-image: url({{ site.url }}/images/brain.png);*/
  margin: 10px auto;
  padding: 1em;
}

.pos {
  position: fixed;
    top: 30px;
    right: 500px;
    z-index: -1;

}

::-moz-selection{background:rgba(255,255,0,0.3);color:#000}
::selection{background:rgba(255,255,0,0.3);color:#000}

/*a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad}
a::selection{background:rgba(255,255,0,0.3);color:#0645ad}

a{ color: #0645ad; text-decoration:none;}
a:visited{ color: #0E60B3; }
a:hover{ color:#333; border-bottom: 1px dotted #066;}
a:active{ color:#faa700; }
a:focus{ outline: thin dotted; }
a:hover, a:active{ outline: 0; }*/

/*0066948, 005E3F, 307860, 008026, 245E35 , 00992E, 008000. 008500*/
a::-moz-selection{background:rgba(255,255,0,0.3);color:#008A00}
a::selection{background:rgba(255,255,0,0.3);color:#008A00}

a{ color: #008A00; text-decoration:none;}
a:visited{ color: #008A00; }
a:hover{ color:#008A00; border-bottom: 1px dotted #066;}
a:active{ color:#008A00; }
a:focus{ outline: thin dotted; }
a:hover, a:active{ outline: 0; }

.tags {
  margin:-5px 0px 5px;
  padding:0px 2px;
  font-size:13px;
  vertical-align: middle; text-align: left;
  border-width: 0px 2px;
  border-style: solid;
  border-color: lightgrey;
  border-radius:3px; -moz-border-radius:3px;
}
.tags:hover { border-color: grey; }
.shortDesc {margin-bottom:6px;font-size:12px}
  
h1,h2,h3,h4,h5,h6{
  font-weight:normal;
  color:#111;
  line-height:1em;
}



h4,h5,h6{ font-weight: bold; }
h1{ font-size:2.5em; }
h2{ font-size:2em; border-bottom:1px solid silver; padding-bottom: 5px; }
h3{ font-size:1.5em; }
h4{ font-size:1.2em; }
h5{ font-size:1em; }
h6{ font-size:0.9em; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
li p:last-child { margin:0 }
dd { margin: 0 0 0 2em; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

@media only screen and (min-width: 480px) {
  body { font-size:14px; }
}

@media only screen and (min-width: 768px) {
  body { font-size:16px; }
}

@media print {
  * { background: transparent !important; color: black !important; filter:none !important; -ms-filter: none !important; }
  body{font-size:12pt; max-width:100%; outline:none;}
  a, a:visited { text-decoration: underline; }
  hr { height: 1px; border:0; border-bottom:1px solid black; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; padding-right: 1em; page-break-inside: avoid; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page :left { margin: 15mm 20mm 15mm 10mm; }
  @page :right { margin: 15mm 10mm 15mm 20mm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

div.container { 
  min-width:100px; 
  max-width:1000px; 
  margin:10px auto; 
}

div.left-container {
  float:left; 
  min-width:100px; max-width:250px;
  /*width:250px;*/
  /*min-height:100%; */
  margin-left:5px; margin-right:5px;  
}

div.left {
  background-color:#FFF; color:#111; 
  border:1px solid silver; 
  border-radius:10px; -moz-border-radius:10px;
  border-left-color: silver; border-left-width: 10px;
  /*border-right-color: silver; border-right-width: 2px;*/
  padding-left:10px; padding-right:10px; padding-bottom:10px; padding-top:10px;
  margin-bottom: 10px
}

div.left:hover {
    border-left-color: #6AA67E; border-left-width: 12px;
    border-right-color: #6AA67E; border-right-width: 2px; /*skyblue*/
  }

div.center {
  /*float:left;*/
  width:auto; 
  margin-right:0px; margin-bottom:10px; 
  background-color:rgba(255, 255, 255); color:#111; 
  border:1px solid silver;
  border-radius:10px; -moz-border-radius:10px; 
  border-left-color: lightseagreen ; border-left-width: 1px;
  border-right-color: lightseagreen ; border-right-width: 1px;
  padding-left:10px; padding-right:10px; padding-bottom:1px; padding-top:1px;
}

div.center:hover {
  border-left-color: #6AA67E; border-left-width: 4px;
  padding-left:7px;
  border-right-color: #6AA67E; border-right-width: 1px;
}

/*0066948, 005E3F, 307860, 008026, 245E35 , 00992E, 008000. 008500*/
div.stretch:hover strong.big, 
div.center:hover strong.regular, 
div.plain:hover strong.regular,
li:hover strong {
  /*color:rgba(4, 102, 30, 1);*/
  color: rgba(0, 113, 25, 1);
}

/*div.plain {
  width:auto; 
  margin-right:0px; margin-bottom:10px; 
  background-color:rgba(255, 255, 255, 0.85); color:#111; 
  /*border:1px solid silver;
  border-radius:10px; -moz-border-radius:10px; 
  border-left-color: lightgreen; border-left-width: 20px;
  border-right-color: lightgreen; border-right-width: 2px;
  /*padding-left:12.5px; padding-right:12.5px; padding-bottom:1px; padding-top:1px;
  padding-left:10px; padding-right:10px; padding-bottom:1px; padding-top:1px;
}*/

div.plain {
  width:auto; 
  margin-right:0px; margin-bottom:10px; 
  background-color:rgb(255, 255, 255); color:#111; 
  border:1px solid rgb(106, 166, 126);
  border-radius:10px; -moz-border-radius:10px; 
  /*border-left-color: rgb(252, 88, 16); border-left-width: 20px;*/
  /*border-right-width: 1px;*/
  /*border-top-width: 1px;*/
  /*border-bottom-width: 0px;*/

  /*padding-left:12.5px; padding-right:12.5px; padding-bottom:1px; padding-top:1px;*/
  padding-left:10px; padding-right:10px; padding-bottom:1px; padding-top:1px;
}

div.stretch {
  margin-left:0px;
}


img.icon {
  width: 20px;
  height: 20px;
}

.header {
  width: auto;
  height: auto;
  /*background-position: -150px 900px;*/
  /*background-image: url({{ site.url }}/images/tunnel.jpg);*/
  /*background-image: url({{ site.url }}/images/brain.png);*/
  /*background-image: url({{ site.url }}/images/1990.jpg);*/
  /*background-image: url({{ site.url }}/images/wordle2.png);*/
  border-radius:10px; -moz-border-radius:10px;
  border:0px solid silver;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 0px;
  padding-left:10px; padding-right:10px; padding-bottom:1px; padding-top:1px;
  /*color:#FFF;*/
  /*background-color: #FFF;*/
}

.footer {
  width: auto;
  height: 150px;
  background-position: -150px 900px;
  /*background: #006666;*/
  /*background-image: url({{ site.url }}/images/tunnel.jpg);*/
  /*background-image: url({{ site.url }}/images/brain.png);*/
  /*background-image: url({{ site.url }}/images/1990.jpg);*/
  /*background-image: url({{ site.url }}/images/wordle2.png);*/
  border-radius:10px; -moz-border-radius:10px;
  border:0px solid silver;
  margin-top: 10px;
  margin-bottom: -26px;
  margin-right: 0px;
  padding-left:10px; padding-right:10px; padding-bottom:1px; padding-top:1px;
}

.tiny {
  font-size: 0.75em;
}

.small {
  font-size: 0.9em;
}

.regular {
  font-size: 1em;
}

.big {
  font-size: 1.2em;
}

.huge {
  font-size: 1.5em;
}

hr {
  border:1px thin sliver;
}

hr.thinblue { 
 border: 0;
 height: 1px;
 background: #6AA67E;
 /*color: sliver;*/
 /*background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
 background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
 background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
 background-image: -o-linear-gradient(left, #ccc, #333, #ccc);*/
 }

#right {float:left; width:250px; margin-left:5px; margin-right:5px; margin-top:-22px; background-color:#111; color:#EEE}

.twtr-hd, .twtr-ft {display: none;}

.label {font-size: .9em}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?aj010b');
  src:url('fonts/icomoon.eot?#iefixaj010b') format('embedded-opentype'),
    url('fonts/icomoon.woff?aj010b') format('woff'),
    url('fonts/icomoon.ttf?aj010b') format('truetype'),
    url('fonts/icomoon.svg?aj010b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  /*font-size: 0.5em;*/
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e600";
}

.icon-download:before {
  content: "\e601";
}

.icon-file-pdf:before {
  content: "\e603";
}

/*h1, h2, h3, h4 {
font-weight: normal;
color: #111;
line-height: 1em;
font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', 'Hiragino Sans GB', STXihei, 微软雅黑, serif;
font-weight: normal;
}*/

.node {
  fill: #fff;
  stroke: #fff;
  stroke-width: 0px;
}

.node .selected {
  stroke: red;
  stroke-width: 1.5px;
}

rect.background {
  stroke: "white";
  fill-opacity: 0;
  visibility: visible;
}

.link {
  stroke: rgba(0, 255, 31, 0.5);
  stroke-width: 1px;
  /*stroke-opacity: 1;*/
}

svg {
  border-color: black;
}

/*button {
  margin-bottom: 1em;
  border-radius: 1em;
  background-color: rgba(0, 252, 30, 0.19);
}*/

input.slider {
  width: 100%
}

input.slowdown {
  width: 25%
}

div.sourcecode {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-family: Courier;
  font-size: 12px;
  font-weight: bold;
  background-color: #111;
  color: #BBB;
  width: 100%;
  height: 150px;
}

.brush .extent {
  stroke: "blue";
  stroke-width: 50px;
  fill: rgba(0, 214, 255, 0.50);
  shape-rendering: crispEdges;
}

.classlist {
  margin:5px; width:20%; float:left; height: 500px; overflow-x: scroll;
}

.methodlist {
  margin:5px; width:25%; float:left; height: 500px; overflow-y: scroll; overflow-x: scroll;
}

body { padding-top: 70px; }